.App {
  display: flex;
  flex-wrap: wrap;
}

.characters {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  width: 150px;
  margin: 15px;
  box-shadow: 0 0 10px rgba(10,10,10);
}
.spacer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}